#catalogContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 170px;
  width: calc(6 * 170px + 5 * 170px);  
}
#cPicture{
  width: 170px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}